body{
    margin:0;
    padding:0;
    background:#eee;
}


.hidden{
    display:none;
}
.show{
    display:block;
}
.showInline{
    display:inline;
}


.mainBox{
    width:960px;
    margin:30px auto;
    position:relative;
}
.picBoxBig{
    margin: 10px;
    float:left;
    border-radius:10px; 
    width:200px; 
    height:150px;
}
.picBox{
    border-radius:10px;
    width:200px; 
    height:130px; 
    object-fit: cover; 
    background:#666;
    overflow: hidden;
    text-align: center;
}

.imgInBox{
    max-width: 100%; 
    max-height: 100%; 
}
.picName{
    margin:0; 
    text-align: center;
}