body{
    background:#f4f4f4;
}
body div a iframe{
    padding:0;
    margin:0;
}
.mainBox{
    width:960px;
    margin:0 auto;
}
.tabBox{
    width:100px;
    float:left;
}
.tabBox a p{
    color:black;
    margin:0;
    padding:10px;
    background:#fff;
    border-bottom:1px #ccc solid;
}
.tabBox .selected p{
    color:#fff;
    background:rgb(62, 88, 231);
}
.content{
    width:859px;
    height:500px;
    margin:0;
    float:left;
    background:#fff;
    border-left:1px #ccc solid;
}